.Form {
  padding: 15px;
  background: linear-gradient(to bottom, #e0f5fc 0%,#e0f5fc 40%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.Form-label {
  display: block;
  margin-bottom: 15px;
  line-height: 1.7em;
}

.Form-input {
  font-size: 16px;
  padding: 7px;
  border: 1px solid #cccccc;
}

.Form-alphabet {
  width: 90%;
}

.Form-size {
  text-align: right;
  width: 50px;
  margin-left: 5px;
}

.Form-speed {
  text-align: right;
  width: 70px;
  margin-left: 5px;
}

.Form-error {
  color: coral;
  margin-bottom: 15px;
}
